.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;          /* fills the window */
  height: 41px;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  min-height: 10px; 
background: #ffffff;
}


.voxlogo {
  height: 30px;
  width: auto;
  /* no special margin needed; flex does the centering */
}
.menu {
  display: flex;
  gap: 3rem;        /* space between items */
  margin-left: auto;  /* pushes links to the right of the logo */
  list-style: none;
  padding: 0;
  margin-right:10px;
  
}

/* individual link */
.menu a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .24em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #010000;
  transition: text-decoration 0.15s ease;

}

.menu a:hover {
  text-decoration: none;
  
}
.menu a:active {
   color: black !important;
   background: transparent;
  transform: scale(0.95);
}

.card-title {


    /* keeps the four words in a column without extra gaps */
    display: block;
    font-weight: 920;
    letter-spacing: .12em;
    /* responsive font size: 2.5 rem → 6.5 rem */
    font-size: 60px;
    color: var(--deep-blue);
background: #921725;
background: linear-gradient(180deg,rgba(146, 23, 37, 1) 0%, rgba(184, 65, 30, 1) 40%, rgba(101, 23, 57, 1) 90%);
    -webkit-background-clip: text;   /* Safari/iOS */
    background-clip: text;
    color: transparent;
    opacity:80%;
  }
  
 .bio-picture{
      border-radius: 1.4rem;
    overflow: hidden;
 }
 .bio-text{
  color:#e6e6e6
 }
 .bio-button{
    z-index: 9999 !important;             /* pull it on top of everything */
 }


 