.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;          /* fills the window */
  height: 41px;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  min-height: 10px; 
background: #ffffff;
}


.voxlogo {
  height: 30px;
  width: auto;
  /* no special margin needed; flex does the centering */
}
.menu {
  display: flex;
  gap: 3rem;        /* space between items */
  margin-left: auto;  /* pushes links to the right of the logo */
  list-style: none;
  padding: 0;
  margin-right:10px;
  
}

/* individual link */
.menu a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .24em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #010000;
  transition: text-decoration 0.15s ease;
    border:none;

}

.menu a:hover {
  text-decoration: none;
  
}
.menu a:active {
   color: black !important;
   background: white;
}

