/* 1.  Reset the canvas */
html, body, #root {
  margin: 0;          /* always reset the default 8 px gap */
  width: 100%;
  height: 100%;
scrollbar-width: none;    
    align-items: center;

}

/* 2.  Full-screen gradient panel */
.main-page {         /*  ←  EXACT same spelling you’ll use in JSX  */
  position: relative;

  width: 100%;       /* spans full window width        */
  min-height: 100vh; /* at least one full window tall  */
  /* or 100dvh if you want to dodge iOS address-bar shrinkage */

  background: linear-gradient(180deg, #DEDDDD 0%, #E9E9E9 100%);
}

.backgroundframe{
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 71px;
background: linear-gradient(180deg, rgba(247, 129, 32, 0.08) 0%, rgba(132, 60, 0, 0.0472) 100%);
}

.videoframe{

position: absolute;
width: 100%;
height: auto;
left: 0px;
top: 165px;


}